<h1><%= @course.name %></h1>
<hr class="my-4">

<dl>
  <dt><%= Course.human_attribute_name(:description) %>:</dt>
  <dd><%= @course.description %></dd>
  <dt><%= Course.human_attribute_name(:code) %>:</dt>
  <dd><%= @course.code %></dd>
  <dt><%= Course.human_attribute_name(:price) %>:</dt>
  <dd><%= number_to_currency @course.price %></dd>
  <dt><%= Course.human_attribute_name(:enrollment_deadline) %>:</dt>
  <dd><%= I18n.localize @course.enrollment_deadline %></dd>
  <dt><%= Course.human_attribute_name(:instructor_id) %>:</dt>
  <dd><%= @course.instructor.name %></dt>
</dl>

<hr class="my-4">
<div>
  
  <% if current_user.courses.exclude?(@course) %>
    <% if @course.enrollment_deadline >= Date.current %>
      <%= link_to 'Comprar', enroll_user_course_path, method: :post, class: "btn btn-dark" %>
    <% else %>
      <br/><br/>
      <p>O prazo para adquirir este curso terminou</p>
    <% end %>
  <% else %>
    <p>Você já possui este curso</p>
  <% end %>

  <%= link_to 'Voltar', root_path, class: "btn btn-dark" %>

</div>
<hr class="my-4">

<h2><%= t '.title2' %>:</h2>
<% if @course.lessons.any? %>
  <% @course.lessons.each do |lesson| %>
    <dl>
      <% if current_user.courses.include?(@course) %>
        <dt><b><%= link_to lesson.name, user_course_lesson_path(@course, lesson) %></b></dt>
      <% else %>
        <dt><b><%= lesson.name %></b></dt>
      <% end %>
      <dd><%= t('lessons.plurals.duration', count: lesson.duration) %></dd>
    </dl>
  <% end %>
<% else %>
  <p><%= t '.lessons_empty' %></p>
<% end %>