<%= form_with model: [:admin, course, lesson] do |form| %>
  <div>
    <dl>
      <dt><%= form.label :name %></dt>
      <dd><%= form.text_field :name %></dd>

      <dt><%= form.label :duration %></dt>
      <dd><%= form.number_field :duration, step: 1, min: 1 %></dd>

      <dt><%= form.label :content %></dt>
      <dd><%= form.text_area :content %></dd>

      <p><%= form.submit botton_text, class: "btn btn-dark" %></p>
    </dl>
  </div>
<% end %>

<div>
  <% if lesson.errors.any? %>
    <p>Foram encontrados <%= lesson.errors.count %> error(s): </p>
    <ul>
      <% lesson.errors.each do |error|%>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  <% end %>
</div>
