<%= form_with model: instructor do |form| %>
  <div >
    <p><%= form.label :name %></p>
    <%= form.text_field :name %>

    <p><%= form.label :email %></p>
    <%= form.text_field :email %>

    <p><%= form.label :bio %></p>
    <%= form.text_area :bio %>

    <p><%= form.label :profile_picture %></p>
    <%= form.file_field :profile_picture %>

    <br/>
    <p><%= form.submit button_text %><p>
  </div>
<% end %>

<div>
  <% if instructor.errors.any? %>
    <p>Foram encontrados <%= instructor.errors.count %> error(s): </p>
    <ul>
      <% instructor.errors.each do |error|%>
        <li><%= error.full_message %></li>
      <% end %>
      </ul>
  <% end %>
</div>
