<%= form_with model: instructor do |form| %>
  <div>
    <dl>
      <dt><%= form.label :name %></dt>
      <dd><%= form.text_field :name %></dd>

      <dt><%= form.label :email %></dt>
      <dd><%= form.text_field :email %></dd>

      <dt><%= form.label :bio %></dt>
      <dd><%= form.text_area :bio %></dd>

      <dt><%= form.label :profile_picture %></dt>
      <dd><%= form.file_field :profile_picture %></dd>

      <br/>
      <p><%= form.submit button_text, class: "btn btn-dark" %><p>
    </dl>
  </div>
<% end %>

<div>
  <% if instructor.errors.any? %>
    <p>Foram encontrados <%= instructor.errors.count %> error(s): </p>
    <ul>
      <% instructor.errors.each do |error|%>
        <li><%= error.full_message %></li>
      <% end %>
      </ul>
  <% end %>
</div>
