<%= form_with model: instructor do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <%= form.label :email %>
  <%= form.text_field :email %>
  <%= form.label :bio %>
  <%= form.text_area :bio %>
  <%= form.label :profile_picture %>
  <%= form.file_field :profile_picture %>

  <%= form.submit button_text %>

  <% if @instructor.errors.any? %>
    <p>Foram encontrados <%= instructor.errors.count %> error(s): </p>
    <ul>
      <% instructor.errors.each do |error|%>
        <li><%= error.full_message %></li>
      <% end %>
      </ul>
  <% end %>
<% end %>