<h1 class="display-4"><%= t '.title' %></h1>
<hr class="my-4">
<% if @instructors.empty? %>
  <p><%= t '.empty' %> </p>
  <hr class="my-4">
<% else %>
  <% @instructors.each do |instructor| %>
    <div>
      <h2><%= link_to instructor.name, instructor %></h2>
      <%= instructor.bio %>
      <hr class="my-4">
    </div>
  <% end %>
<% end %>

<div>
  <%= link_to 'Cadastrar um Professor', new_instructor_path, 
                    class: "btn btn-dark" %>
</div>
