<h1><%= t '.title' %></h1>

<% if @instructors.empty? %>
  <p><%= t '.empty' %> </p>
<% end %>

<% @instructors.each do |instructor| %>
  <div>
    <h2><%= link_to instructor.name, instructor %></h2>
    <%= instructor.bio %>
  </div>
<% end %>

<div>
  <%= link_to 'Cadastrar um Professor', new_instructor_path, 
                     class: "btn btn-dark" %>
  <%= link_to 'Voltar', root_path, class: "btn btn-dark"%>
</div>
