<h1><%= @instructor.name %></h1>

<dl>
  <% if @instructor.profile_picture.attached? %>
    <dt><b>Foto de perfil</b></dt>
    <dd><%= image_tag @instructor.profile_picture %></dd>
  <% end %>

  <dt><b>Descrição:</b></dt>
  <dd><%= @instructor.bio %></dd>

  <dt><b>E-mail:</b></dt>
  <dd><%= @instructor.email %></dd>
</dl>

<div>
  <ul>
    <li><%= link_to 'Editar', edit_instructor_path%></li>
    <li><%= link_to 'Deletar', instructor_path(@instructor), 
                               method: :delete %></li>
    <li><%= link_to 'Voltar', instructors_path %></li>
  </ul>
</div>