<h1><%= @instructor.name %></h1>
<hr class="my-4">

<dl>
  <% if @instructor.profile_picture.attached? %>
    <dt>Foto de perfil</dt>
    <dd><%= image_tag @instructor.profile_picture %></dd>
  <% end %>

  <dt>Descrição:</dt>
  <dd><%= @instructor.bio %></dd>

  <dt>E-mail:</dt>
  <dd><%= @instructor.email %></dd>
</dl>

<hr class="my-4">
<div>
  <%= link_to 'Editar', edit_instructor_path, class: "btn btn-dark" %>
  <%= link_to 'Deletar', instructor_path(@instructor), method: :delete, 
                         data: { confirm: 'Tem certeza?' }, 
                         class: "btn btn-dark" %>
  <%= link_to 'Voltar', instructors_path, class: "btn btn-dark" %>
</div>