<h1><%= @instructor.name %></h1>
<p><%= image_tag @instructor.profile_picture %></p>
<p><%= @instructor.bio %></p>
<p><%= @instructor.email %></p>

<%= link_to 'Editar', edit_instructor_path%>
<%= link_to 'Deletar', instructor_path(@instructor), method: :delete %>
<%= link_to 'Voltar', instructors_path%>