<h2 class="display-5"><%= t '.title3' %></h2>
<hr class="my-4">

<h3>Cursos Disponíveis:</h3>
<div>
  <% @courses.each do |course| %>
    <dl>
      <% if admin_signed_in? %>
        <dt><%= link_to course.name, admin_course_path(course) %></dt>
      <% elsif user_signed_in? %>
        <dt><%= link_to course.name, user_course_path(course) %></dt>
      <% else %>
        <dt><%= link_to course.name, course_path(course) %></dt>
      <% end %>
      <dd><%= course.description %></dd>
      <dd><%= number_to_currency course.price %></dd>
    </dl>
  <% end %>
</div>