<%= form_with url: url, model: lesson do |form| %>
  <div>
    <p><%= form.label :name %></p>
    <%= form.text_field :name %>

    <p><%= form.label :content %></p>
    <%= form.text_area :content %>

    <p><%= form.submit botton_text %></p>
  </div>
<% end %>

<div>
  <% if lesson.errors.any? %>
    <p>Foram encontrados <%= lesson.errors.count %> error(s): </p>
    <ul>
      <% lesson.errors.each do |error|%>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  <% end %>
</div>
