<div>
  <h1><%= @lesson.name %></h1>

  <p><%= t('lessons.plurals.duration', count: @lesson.duration) %></p>

  <p><%= @lesson.content %></p>
</div>

<div>
  <%= link_to 'Editar aula', edit_course_lesson_path(@lesson), 
               class: "btn btn-dark" %>
  <%= link_to 'Deletar', course_lesson_path(@course, @lesson), method: :delete, 
                         data: { confirm: 'Tem certeza?' }, 
                         class: "btn btn-dark" %>
  <%= link_to 'Voltar', course_path(@course), class: "btn btn-dark" %>
</div>