<%= form_with model: course do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <%= form.label :description %>
  <%= form.text_area :description %>
  <%= form.label :code %>
  <%= form.text_field :code %>
  <%= form.label :price %>
  <%= form.text_field :price %>
  <%= form.label :enrollment_deadline %>
  <%= form.date_field :enrollment_deadline %>
  <%= form.label :instructor_id %>
  <%= form.collection_select :instructor_id, @instructors, :id, :name %>
  <%= form.submit button_text %>
<% end %>

<% if @course.errors.any? %>
<p>Foram encontrados <%= course.errors.count %> error(s): </p>
  <ul>
    <% course.errors.each do |error| %>
      <li><%= error.message %></li>
    <% end %>
  </ul>
<% end %>