<%= form_with model: course do |form| %>
  <div>
    <p><%= form.label :name %></p>
    <%= form.text_field :name %>

    <p><%= form.label :description %></p>
    <%= form.text_area :description %>

    <p><%= form.label :code %></p>
    <%= form.text_field :code %>

    <p><%= form.label :price %></p>
    <%= form.text_field :price %>

    <p><%= form.label :enrollment_deadline %></p>
    <%= form.date_field :enrollment_deadline %>

    <p><%= form.label :instructor_id %></p>
    <%= form.collection_select :instructor_id, instructors, :id, :name %>
  
    <br/>
    <p><%= form.submit button_text %></p>
  </div>
<% end %>
  
<div>
  <% if course.errors.any? %>
    <p>Foram encontrados <%= course.errors.count %> error(s): </p>
    <ul>
      <% course.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  <% end %>
</div>