<h1><%= t '.title' %></h1>

<% if @courses.empty? %>
  <p><%= t '.empty' %></p>
<% end %>

<% @courses.each do |course| %>
  <h2><%= link_to course.name, course %></h2>
  <p><%= course.description %></p>
  <p><%= number_to_currency course.price %></p>
<% end %>

<div>
  <ul>
    <li><%= link_to 'Registrar um Curso', new_course_path %></li>
    <li><%= link_to 'Voltar', root_path %></li>
  </ul>
</div>