<h1><%= @course.name %></h1>

<dl>
  <dt><b><%= Course.human_attribute_name(:description) %>:</b></dt>
  <dd><%= @course.description %></dd>
  <dt><b><%= Course.human_attribute_name(:code) %>:</b></dt>
  <dd><%= @course.code %></dd>
  <dt><b><%= Course.human_attribute_name(:price) %>:</b></dt>
  <dd><%= number_to_currency @course.price %></dd>
  <dt><b><%= Course.human_attribute_name(:enrollment_deadline) %>:</b></dt>
  <dd><%= I18n.localize @course.enrollment_deadline %></dd>
  <dt><b><%= Course.human_attribute_name(:instructor_id) %>:</b></dt>
  <dd><%= @course.instructor.name %></dt>
</dl>

<div>
  <ul>
    <li><%= link_to 'Editar curso', edit_course_path(@course) %></li>
    <li><%= link_to 'Deletar curso', course_path(@course), 
                                     method: :delete %></li>
    <li><%= link_to 'Cadastrar uma aula', new_course_lesson_path(@course) %></li>
    <li><%= link_to 'Voltar', courses_path %></li>
  </ul>
</div>

<h2><%= t '.title2' %>:</h2>
<% if @course.lessons.any? %>
  <% @course.lessons.each do |lesson| %>
    <dl>
      <dt><b><%= lesson.name %></b></dt>
      <dd><%= lesson.content %></dd>
      <ul>
        <li><%= link_to 'Editar aula', edit_course_lesson_path(lesson) %></li>
        <li>
            <%= link_to 'Deletar', course_lesson_path(lesson), 
            method: :delete %>
        </li>
      </ul>
    </dl>
  <% end %>
<% else %>
  <p><%= t '.lessons_empty' %></p>
<% end %>