<h1><%= @course.name %></h1>
<dl>
  <dt><%= Course.human_attribute_name(:description) %></dt>
  <dd><%= @course.description %></dd>
  <dt><%= Course.human_attribute_name(:code) %></dt>
  <dd><%= @course.code %></dd>
  <dt><%= Course.human_attribute_name(:price) %></dt>
  <dd><%= number_to_currency @course.price %></dd>
  <dt><%= Course.human_attribute_name(:enrollment_deadline) %></dt>
  <dd><%= I18n.localize @course.enrollment_deadline %></dd>
  <dt><%= Course.human_attribute_name(:instructor_id) %></dt>
  <dd><%= @course.instructor.name %></dt>
</dl>

<%= link_to 'Editar curso', edit_course_path(@course) %>
<%= link_to 'Deletar curso', course_path(@course), method: :delete %>
<%= link_to 'Cadastrar uma aula', new_course_lesson_path(@course)%>
<%= link_to 'Voltar', courses_path %>

<h2>Aulas neste curso:</h2>
<% if @course.lessons.any? %>
  <% @course.lessons.each do |lesson| %>
    <%= lesson.name %>
    <%= lesson.content %>
    <%= link_to 'Editar aula', edit_course_lesson_path(lesson) %>
    <%= link_to 'Deletar', course_lesson_path(lesson), method: :delete %>
  <% end %>
<% else %>
  <p>Não há aulas cadastradas neste curso</p>
<% end %>