<h1><%= @course.name %></h1>
<dl>
  <dt>Descrição</dt>
  <dd><%= @course.description %></dd>
  <dt>Código</dt>
  <dd><%= @course.code %></dd>
  <dt>Preço</dt>
  <dd><%= number_to_currency @course.price %></dd>
  <dt>Data limite de matrícula</dt>
  <dd><%= I18n.localize @course.enrollment_deadline %></dd>
  <dt><%= @course.instructor.name %></dt>
</dl>

<%= link_to 'Editar', edit_course_path(@course) %>
<%= link_to 'Deletar', course_path(@course), method: :delete %>
<%= link_to 'Voltar', courses_path %>