<%= form_with model: [:admin, course] do |form| %>
  <div>
    <dl>
      <dt><%= form.label :name %></dt>
      <dd><%= form.text_field :name %></dd>

      <dt><%= form.label :description %></dt>
      <dd><%= form.text_area :description %></dd>

      <dt><%= form.label :code %></dt>
      <dd><%= form.text_field :code %></dd>

      <dt><%= form.label :price %></dt>
      <dd><%= form.text_field :price %></dd>

      <dt><%= form.label :enrollment_deadline %></dt>
      <dd><%= form.date_field :enrollment_deadline %></dd>

      <dt><%= form.label :instructor_id %></dt>
      <dd><%= form.collection_select :instructor_id, instructors, :id, :name %><dd>
    
      <br/>
      <%= form.submit button_text, class: "btn btn-dark" %>
    </dl>
  </div>
<% end %>
  
<div>
  <% if course.errors.any? %>
    <p>Foram encontrados <%= course.errors.count %> error(s): </p>
    <ul>
      <% course.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  <% end %>
</div>